{{/*
	--
	-- PARTIAL -> Banner Services
	-- Render services that have the .Param.serviceType of "Primary" in a list format
	--
*/}}

<ul class="banner__services">
	{{ range where .context.Data.Pages "Section" "services" }}
		{{ if eq .Params.serviceType "Primary" }}
			<li class="service">
				<a class="service__link" href="{{ if and ($.linkType) (eq $.linkType "anchor") }}{{ with $.context.Site.GetPage "section" "services" }}{{ .URL }}{{ end }}#{{ .Title | urlize }}{{ else }}{{ .URL }}{{ end }}">
					<img src="{{ .Params.icon }}" alt="{{ .Title }}" />
					<span>{{ .Title }}</span>
				</a>
			</li>
		{{ end }}
	{{ end }}
</ul>
