{{/*
	--
	-- PARTIAL -> Banner Services
	-- Render services that have the .Param.serviceType of "Primary" in a list format
	--
*/}}

<ul class="banner__services">
	{{ range .Params.banner }} {{/* Start RANGE .service_list */}}
		{{ $service := .service }}
		{{ with $.Site.GetPage "section" "services" }} {{/* Start WITH section */}}
			{{ range where .Data.Pages "Section" "services" }} {{/* Start RANGE section */}}
			{{/* For matching clients, enter it's scope and render some data */}}
				{{ if eq .Title $service }}
					<li class="service">
						<a class="service__link" href="{{ .URL }}">
							<img src="{{ if .Params.icon_reverse }}{{ .Params.icon_reverse }}{{ else }}/img/service-icon-default-reverse.svg{{ end }}" alt="{{ .Title }}" />
							<span>{{ .Title }}</span>
						</a>
					</li>
				{{ end }}
			{{ end }} {{/* End RANGE section */}}
		{{ end }} {{/* End WITH section */}}
	{{ end }} {{/* End RANGE .service_list */}}
</ul>
