<section class="contact-form padder bg--1">
	<div class="container container--small">
		<h2>Start the conversation</h2>
		<form id="contactForm" name="contactform" action="/">
			<div class="form-group">
				<label for="contactFullName">{{ if .Site.Data.language.fullname_label }}{{ .Site.Data.language.fullname_label }}{{ else }}Full Name{{ end }}</label>
				<input id="contactFullName" type="text" name="fullname" required placeholder="{{ if .Site.Data.language.fullname_placeholder }}{{ .Site.Data.language.fullname_placeholder }}{{ else }}e.g. Bert Macklin{{ end }}" />
			</div>
			<div class="form-group">
				<label for="contactEmail">{{ if .Site.Data.language.email_label }}{{ .Site.Data.language.email_label }}{{ else }}Email address{{ end }}</label>
				<input id="contactEmail" type="email" name="email" required placeholder="{{ if .Site.Data.language.email_placeholder }}{{ .Site.Data.language.email_placeholder }}{{ else }}e.g. bertmacklin@fbi.com{{ end }}" />
			</div>
			<div class="form-group">
				<label for="contactNumber">{{ if .Site.Data.language.contact_number_label }}{{ .Site.Data.language.contact_number_label }}{{ else }}Contact number{{ end }}</label>
				<input id="contactNumber" type="tel" name="number" placeholder="{{ if .Site.Data.language.contact_number_placeholder }}{{ .Site.Data.language.contact_number_placeholder }}{{ else }}e.g. 0456 789 101{{ end }}" />
			</div>
			<div class="form-group">
				<label for="contactMessage">{{ if .Site.Data.language.enquiry_label }}{{ .Site.Data.language.enquiry_label }}{{ else }}Enquiry{{ end }}</label>
				<textarea id="contactMessage" type="textbox" name="message" rows="7" required placeholder="{{ if .Site.Data.language.enquiry_placeholder }}{{ .Site.Data.language.enquiry_placeholder }}{{ else }}Write your message for us here, and we'll get back to you as soon as possible!{{ end }}"></textarea>
			</div>
			<div class="center" style="margin-top: 3rem;">
				<button class="button button--primary" type="submit" id="contactSubmit">Send it</button>
			</div>
		</form>
	</div>
</section>
