<form id="contactForm" name="contactform" action="/">
	<label for="contactFullName">Full name</label>
	<input id="contactFullName" type="text" name="fullname" placeholder="e.g. Bert Macklin" />

	<label for="contactEmail">Email address</label>
	<input id="contactEmail" type="email" name="email" placeholder="e.g. bertmacklin@fbi.com" />

	<label for="contactNumber">Contact number</label>
	<input id="contactNumber" type="tel" name="number" placeholder="e.g. 0456 789 101" />

	<label for="contactMessage">Enquiry</label>
	<textarea id="contactMessage" type="textbox" name="message" placeholder="Write your message for us here, and we'll get back to you as soon as possible!"></textarea>

	<input type="submit" id="contactSubmit" value="Send it">
</form>
