<footer class="footer container">
	<div>
		30+ years in marketing strategies to grow your business
	</div>
	<div>
		<h4 class="footer__heading">Brisbane</h4>
		<address>
			331 Ellison Road <br />
			Geebung <br />
			Queensland <br />
			4034 <br />
		</address>
	</div>
	<div>
		<h4 class="footer__heading">Newsletter</h4>
		<p>Sign up to our newsletter and stay up to date.</p>
		<form class="newsletter form form--inline">
			<div class="form-group">
				<input id="newsletterEmail" type="email" name="newsletterEmail" placeholder="Enter your email" />
				<button type="submit" id="newsletterSubmit"><i class="icon icon-arrow"></i></button>
			</div>
		</form>
	</div>
	<div class="grid--align-right">
		<h4 class="footer__heading">Social</h4>
		<a class="el--block" href="#">Facebook</a>
		<a class="el--block" href="#">LinkedIn</a>
	</div>
</footer>

<p class="copyright center">© 1987 - 2018 Marketplace Communications. All rights reserved. Made by Volkano</p>

<script src="app.js"></script>
