{{ partial "contact_form" . }}

<footer class="footer container">
	<div>
		30+ years in marketing strategies to grow your business
	</div>
	<div>
		<h4>Brisbane</h4>
		<p>
			331 Ellison Road <br />
			Geebung <br />
			Queensland <br />
			4034 <br />
		</p>
	</div>
	<div>
		<h4>Newsletter</h4>
		<p>Sign up to our newsletter and stay up to date.</p>
		<form class="form form--inline">
			<div class="form-group">
				<input id="newsletterEmail" type="email" name="newsletterEmail" placeholder="Enter your email" />
				<input type="submit" id="newsletterSubmit" value=">">
			</div>
		</form>
	</div>
	<div>
		<h4>Social</h4>
		<a href="#">Facebook</a>
		<a href="#">LinkedIn</a>
	</div>
</footer>

<p class="copyright center">© 1987 - 2018 Marketplace Communications. All rights reserved. Made by Volkano</p>

<script src="app.js"></script>
