<footer class="footer container">
	<div class="footer__block">
		<div><i class="icon icon-logo" title="{{ .Site.Data.brand.company_name }}"></i></div>
		<p style="margin-top: 2rem;">{{ .Site.Data.brand.company_tagline }}</p>
	</div>
	<div class="footer__block">
		<h4 class="footer__heading">Brisbane</h4>
		<address>
			{{ .Site.Data.contact.address.line_1 }}<br />
			{{ if .Site.Data.contact.address.line_2 }}{{ .Site.Data.contact.address.line_2 }}<br />{{ end }}
			{{ .Site.Data.contact.address.suburb }}<br />
			{{ .Site.Data.contact.address.state }}<br />
			{{ .Site.Data.contact.address.postcode }}
		</address>
	</div>
	<div class="footer__block">
		<h4 class="footer__heading">Newsletter</h4>
		<p>Sign up to our newsletter and stay up to date.</p>
		<form class="newsletter form form--inline">
			<div class="form-group">
				<input id="newsletterEmail" type="email" name="newsletterEmail" placeholder="Enter your email" />
				<button type="submit" id="newsletterSubmit"><i class="icon icon-arrow"></i></button>
			</div>
		</form>
	</div>
	<div class="footer__block">
		<h4 class="footer__heading">Social</h4>
		{{ range .Site.Data.brand.social }}
			<a class="el--block" href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
	</div>
</footer>

<p class="copyright container">© 1987 - {{ now.Format "2006"}} Marketplace Communications. All rights reserved. Made by Volkano</p>
