<head>
	<meta charset="utf-8">
	<meta content="text/html" http-equiv="Content-Type">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
	{{ if .Keywords }}<meta name="keywords" content="{{ .Keywords }}">{{ end }}
	<base href="{{ $.Site.BaseURL }}">
	<title>{{ $.Site.Title }} • {{ .Title }}</title>
	<link rel="stylesheet" href="css/app.css" />

	{{/* Google Analytics */}}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ getenv "GA_ID" }}"></script>
	<script type="text/javascript">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', {{ getenv "GA_ID" }});
	</script>

	{{/* Agile CRM Script */}}
	<script id="_agile_min_js" async type="text/javascript" src="https://{{ getenv "CRM_ACCOUNT_NAME" }}.agilecrm.com/stats/min/agile-min.js"> </script>
	<script type="text/javascript">
	var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
	_agile.set_account({{ getenv "CRM_API_KEY" }}, {{ getenv "CRM_ACCOUNT_NAME" }});
	_agile.track_page_view();
	_agile_execute_web_rules();};
	</script>

	{{/* Netlify Identity */}}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
