{{/*
	--
	-- PARTIAL -> Logo Wall
	-- Find related clients and create an inline list of their logo's
	--
*/}}

{{ if .Params.logo_wall }}
	<div class="logo-wall">
		{{ range .Params.logo_wall }}
			{{ $client := .client }}
			{{/* Access 'clients' collection entries */}}
			{{ with $.Site.GetPage "section" "clients" }}
				{{ range where .Data.Pages "Section" "clients" }}
				{{/* For matching clients, enter it's scope and render some data */}}
					{{ if eq .Title $client }}
						<img src="{{ .Params.logo }}" alt="{{ .Title }}" title="{{ .Title }}"/>
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
{{ end }}
