<nav class="navbar {{ if .scheme }}navbar--{{ .scheme }}{{ end }} container">
	{{ if .context.Site.Menus.main }}
		{{ $currentNode := .context }}
		{{ range .context.Site.Menus.main }}
			{{/*
				If a logo has been uploaded via the CMS then grab it from the sites
				data, otherwise use the fallback
			*/}}
			{{ if eq .Identifier "home" }}
				<a class="navbar__link {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}" title="{{ $.Site.Data.brand.company_name }}">
					<!--<a class="navbar__link {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}">
          {{ if isset $.Site.Data.logo "logo" }}
            <img src="{{ index $.Site.Data.logo "logo" }}" alt="{{ .Name }}"/>
          {{ else }}
            {{ .Name }}
          {{ end }}
        	</a>-->
					<i class="icon icon-logo"></i>
				</a>
			{{ end }}
		{{ end }}

		<div class="list list--inline grid--align-center-x show-at-tablet-landscape">
		{{ range .context.Site.Menus.main }}
			{{/*
				For each menu link check whether there is a matching entry in the site
				data with a custom name set via the CMS
			*/}}
			{{ if and (ne .Identifier "home") (ne .Identifier "contact") }}
				<a class="navbar__link {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" data-strike href="{{ .URL }}">
					<span class="navbar__link__text">{{ if isset $.context.Site.Data.menu .Identifier }}{{ index $.context.Site.Data.menu .Identifier }}{{ else }}{{ .Name }}{{ end }}</span>
					<span class="navbar__link__effect"></span>
				</a>
			{{ end }}
		{{ end }}
		</div>

		{{ range .context.Site.Menus.main }}
			{{/*
				If the matched node is the contact link, format it as a button
			*/}}
			{{ if eq .Identifier "contact" }}
				<a class="button button--navbar grid--align-right show-at-tablet-landscape {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}">{{ if isset $.context.Site.Data.menu .Identifier }}{{ index $.context.Site.Data.menu .Identifier }}{{ else }}{{ .Name }}{{ end }}</a>
			{{ end }}
		{{ end }}
		<a class="burger hide-at-tablet-landscape" href="#">{{ partial "burger.svg" . }}</a>

	{{ end }}
</nav>
