
{{ $Logos := .context.Site.Data.logos }}

<nav class="navbar {{ if .scheme }}navbar--{{ .scheme }}{{ end }} container">
	{{ if .context.Site.Menus.main }}
		{{ $currentNode := .context }}
		{{ range .context.Site.Menus.main }}
			{{/*
				If a logo has been uploaded via the CMS then grab it from the sites
				data, otherwise use the fallback
			*/}}
			{{ if eq .Identifier "home" }}
				<a class="navbar__link landing__logo {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}" title="{{ $.Site.Data.brand.company_name }}">
          {{ if isset $Logos "logo_alt" }}
            <img src="{{ index $Logos "logo_alt" }}" alt="{{ .Name }}"/>
          {{ else }}
            {{ .Name }}
          {{ end }}
				</a>
			{{ end }}
		{{ end }}

		<a class="burger" href="#">{{ partial "burger.svg" . }}</a>

	{{ end }}
</nav>
