<nav class="navbar {{ if .scheme }}navbar--{{ .scheme }}{{ end }} navbar--colored container">
	{{ if .context.Site.Menus.main }}

		{{ $currentNode := .context }}
		{{ range .context.Site.Menus.work }}

			{{/*
				If a logo has been uploaded via the CMS then grab it from the sites
				data, otherwise use the fallback
			*/}}

			{{ if eq .Identifier "home" }}
			<a class="navbar__link navbar__logo grid--align-center-x {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}">
				<!--{{ if isset $.Site.Data.logo "logo" }}
					<img src="{{ index $.Site.Data.logo "logo" }}" alt="{{ .Name }}"/>
				{{ else }}
					{{ .Name }}
				{{ end }}-->
				<i class="icon icon-logo"></i>
			</a>

			{{/*
				If the matched node is the contact link, format it as a button
			*/}}

			{{ else if eq .Identifier "contact" }}
			<a class="button button--navbar grid--align-right {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}">{{ if isset $.context.Site.Data.menu .Identifier }}{{ index $.context.Site.Data.menu .Identifier }}{{ else }}{{ .Name }}{{ end }}</a>

			{{/*
				For each menu link check whether there is a matching entry in the site
				data with a custom name set via the CMS
			*/}}

			{{ else }}
			<a class="navbar__link {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) (eq $currentNode.Section .Identifier) }}is--active{{end}}" href="{{ .URL }}"><i class="icon icon-arrow-left"></i> Back to {{ if isset $.context.Site.Data.menu .Identifier }}{{ index $.context.Site.Data.menu .Identifier | lower }}{{ else }}{{ .Name | lower}}{{ end }}</a>
			{{ end }}
		{{ end }}
	{{ end }}
</nav>
