button, .button, input[type="submit"] {
	border: none;
	cursor: pointer;
}

.button {
	position: relative;
	display: inline-block;
	padding: 1.4rem 3rem;
	font-size: var(--mediumFont);
	font-weight: 300;
	letter-spacing: 0.03em;
	border-radius: 10rem;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
	&:hover {
		transform: translate3d(0, -0.4rem, 0);
	}
	&--primary {
		background-color: var(--brandColor);
		color: var(--absoluteWhite);
		&:hover {
			background-color: color(var(--brandColor) saturation(+ 100%))
		}
	}
}
