/* - - - - - - - - - - - - - - */
/* - Containers - */
/* - - - - - - - - - - - - - - */

.container {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	&--x-small {
		max-width: 68rem;
	}
	&--small {
		max-width: 93.4rem;
	}
	&--normal {}
	&--large {}
	&--x-large {}
}

.padder {
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
}

.padder--top {
	padding-bottom: 0;
}

@media (--for-tablet-landscape-up) {
	.padder {
		padding-top: var(--gutterBig);
		padding-bottom: var(--gutterBig);
	}

	.padder--top {
		padding-bottom: 0;
	}
}
