/* - - - - - - - - - - - - - - */
/* - Footer - */
/* - - - - - - - - - - - - - - */

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: var(--gutterBig);
}

.copyright {
	margin-top: var(--gutter);
	margin-bottom: var(--gutter);
	font-size: var(--smallFont);
	text-align: left;
}

@media (--for-phone-only) {
	.footer__block {
		&:not(:first-of-type) {
			margin-top: 2rem;
		}
	}
}

@media (--for-tablet-portrait-up) {
	.footer {
		flex-wrap: nowrap;
	}
	.footer__block {
		width: 25%;
		&:last-child {
			width: 8rem;
		}
		&:not(:first-of-type) {
			margin-left: 4rem;
		}
	}

	.copyright {
		margin-top: var(--gutterBig);
		text-align: center;
	}
}

@media (--for-tablet-landscape-up) {
	.footer__block {
		width: auto;
	}
}
