:root {
	/* Golden Rule */
	--baseHtmlSize: 62.5%;
	--baseBodySize: 1.6rem;
	/* Colors */
	--brandColor: #B51F20;
	--black: #1D2A3A;
	--absoluteWhite: #FFFFFF;
	/* Typeography */
	--tinyFont: 	calc(var(--baseBodySize) * 0.563);
	--smallFont: 	calc(var(--baseBodySize) * 0.75);
	--mediumFont: 	var(--baseBodySize);
	--bigFont: 		calc(var(--baseBodySize) * 1.333);
	--hugeFont: 	calc(var(--baseBodySize) * 1.777);
	--massiveFont: 	calc(var(--baseBodySize) * 2.369);
	--enormousFont: calc(var(--baseBodySize) * 3.157);
	/* Margins */
	--gutter:	4rem;
	--gutterBig: 8rem;
	--pushAuto: {
		margin-left: auto;
		margin-right: auto;
	};
	/* Positioning */
	--psuedo: {
		content: '';
		position: absolute;
	};
	--psuedoCenter: {
		@apply --psuedo;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	};
	/* Display Type */
	--flex: {
		display: flex;
		justify-content: space-between;
		align-items: center;
		wrap: nowrap;
	};
}

html {
	font-size: var(--baseHtmlSize);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--baseBodySize);
}

h1 { font-size: var(--enormousFont); font-weight: 500; }
h2 { font-size: var(--massiveFont); font-weight: 500; }
h3 { font-size: var(--hugeFont) }
h4 { font-size: var(--bigFont); font-weight: 500; }
h5 { font-size: var(--mediumFont) }
h6 { font-size: var(--smallFont) }

.center { text-align: center }

/* - - - - - - - - - - - - - - */
/* - Nav - */
/* - - - - - - - - - - - - - - */
.navbar {
	@apply --flex;
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 4.6rem;
	padding-bottom: 4.6rem;
	&__ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__li {
		display: inline-block;
	}
	&__link {
		display: block;
		text-decoration: none;
		color: var(--absoluteWhite);
	}
}

/* - - - - - - - - - - - - - - */
/* - Main - */
/* - - - - - - - - - - - - - - */

/* Offset the first child of main by the navbar height */
.main {
	& > *:first-child {
		padding-top: 11rem;
	}
}

/* - - - - - - - - - - - - - - */
/* - Banner - */
/* - - - - - - - - - - - - - - */

.banner {
	background-color: var(--brandColor);
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	&__title {
		grid-column: 1/3;
		color: var(--absoluteWhite);
	}
}

/* - - - - - - - - - - - - - - */
/* - Blockquote - */
/* - - - - - - - - - - - - - - */

.blockquote {
	@apply --pushAuto;
	max-width: 93.4rem;
	text-align: center;
	padding-top: 8rem;
	&__body {
		font-size: var(--bigFont);
		font-weight: 300;
		line-height: 1.74;
	}
	&__footer {
		position: relative;
		margin-top: var(--gutterBig);
		font-size: var(--mediumFont);
		&::before {
			@apply --psuedoCenter;
			top: -var(--gutter);
			width: 17rem;
			height: 0.2rem;
			background-color: var(--brandColor);
		}
	}
	&__client {
		font-weight: 600;
	}
}

/* - - - - - - - - - - - - - - */
/* - Container - */
/* - - - - - - - - - - - - - - */

.container {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 6rem;
	padding-right: 6rem;
	&--narrow {
		max-width: 93.4rem;
	}
}

/* - - - - - - - - - - - - - - */
/* - Forms - */
/* - - - - - - - - - - - - - - */

.contact-form {
	padding-top: 8rem;
	text-align: center;
}

.form-group {
	display: flex;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.2rem solid color(var(--black) alpha(25%));
}

label {
	display: block;
	width: 20rem;
	text-align: left;
	font-weight: 300;
}

input,
textarea {
	flex-grow: 1;
	font-size: var(--bigFont);
	appearance: none;
	border: 0;
	color: color(var(--black) alpha(50%));
	&:focus {
		outline: none;
	}
}

/* - - - - - - - - - - - - - - */
/* - Footer - */
/* - - - - - - - - - - - - - - */

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	padding-top: 8rem;
}

.copyright {
	margin-top: 8rem;
	margin-bottom: 4rem;
	font-size: var(--smallFont);
}
