:root {
	/* Golden Rule */
	--baseHtmlSize: 62.5%;
	--baseBodySize: 1.6rem;
	/* Colors */
	--brandColor: #E6232C;
	--brandYellow: #F5EE9E;
	--black: #1D2A3A;
	--offWhite: #FAFAFA;
	--absoluteWhite: #FFFFFF;
	/* Typography */
	--primaryFont: 'Montserrat', sans-serif;
	--tinyFont: 	calc(var(--baseBodySize) * 0.563);
	--smallFont: 	calc(var(--baseBodySize) * 0.75);
	--mediumFont: 	var(--baseBodySize);
	--bigFont: 		calc(var(--baseBodySize) * 1.333);
	--biggerFont: 		calc(var(--baseBodySize) * 1.618);
	--hugeFont: 	calc(var(--baseBodySize) * 1.777);
	--massiveFont: 	calc(var(--baseBodySize) * 2.369);
	--enormousFont: calc(var(--baseBodySize) * 3.157);
	--giganticFont: calc(var(--baseBodySize) * 3.999);
	/* Animations */
	--animateTransform: transform 0.3s ease-in-out;
	--animateColor: color 0.2s ease-in-out;
	/* Margins */
	--gutter:	4rem;
	--gutterBig: 8rem;
	--pushAuto: {
		margin-left: auto;
		margin-right: auto;
	};
	/* Positioning */
	--psuedo: {
		content: '';
		position: absolute;
	};
	--psuedoCenter: {
		@apply --psuedo;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	};
	/* Display Type */
	--flex: {
		display: flex;
		justify-content: space-between;
		align-items: center;
		wrap: nowrap;
	};
}

* {
	box-sizing: border-box;
}

html {
	font-size: var(--baseHtmlSize);
}

body {
	font-family: var(--primaryFont);
	font-size: var(--baseBodySize);
	font-weight: 300;
	letter-spacing: 0.01em;
	line-height: 1.4;
}

a {
	color: var(--brandColor);
	&:hover {
		color: color(var(--brandColor) saturation(+ 100%));
	}
	& * {
		color: inherit;
	}
}

.center { text-align: center }

.text--small {
	font-size: var(--smallFont);
	font-weight: 400;
	margin-top: 1rem;
	transition: var(--animateTransform);
}

.bg--2 {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--offWhite);
		mix-blend-mode: multiply;
	}
}

.bg--3 {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--brandColor);
		mix-blend-mode: multiply;
	}
}

.el--block {
	display: block;
}

.area {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.list {
	&--inline > * {
		display: inline-block;
	}
	&--high {
		& > li:not(:first-of-type) {
			margin-top: 8rem;
			padding-top: 8rem;
		}
	}
}

.flex {
	display: flex;
	&--justify-between { justify-content: space-between }
	&--justify-center { justify-content: center }
	&--align-center { align-items: center }
}

.map {
	height: 40rem;
	width: 100%;
}

.article {
	&__header {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

.wrapper {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
}

/* - - - - - - - - - - - - - - */
/* - Nav - */
/* - - - - - - - - - - - - - - */
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	padding-top: 4.6rem;
	padding-bottom: 4.6rem;

	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 4rem;
	align-items: center;

	&__link {
		font-size: 1.4rem;
		font-weight: 300;
		color: var(--brandColor);
		&:not(:first-of-type, .navbar__logo) {
			margin-left: 4rem;
		}
	}
}
.navbar--reverse {
	& .navbar__link {
		color: var(--absoluteWhite);
	}
}

/* - - - - - - - - - - - - - - */
/* - Grid - */
/* - - - - - - - - - - - - - - */
.grid {
	&--align-left { justify-self: start }
	&--align-right { justify-self: end }
	&--align-top { align-self: start }
	&--align-top { align-self: end }
	&--align-center-x { justify-self: center }
	&--align-center-y { align-self: center }
}

/* - - - - - - - - - - - - - - */
/* - Main - */
/* - - - - - - - - - - - - - - */

.main {
	position: relative;
	box-shadow: 0 0.2rem var(--brandColor) inset;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		z-index: -2;
		width: 0.1rem;
		height: 100%;
		background-color: #E7E7E7;
	}
	&::before {
		left: 33.333%;
	}
	&::after {
		right: 33.333%;
	}
	/* Offset the first child of main by the navbar height */
	& > *:first-child {
		padding-top: 11rem;
	}
}

/* - - - - - - - - - - - - - - */
/* - Banner - */
/* - - - - - - - - - - - - - - */

.banner {
	overflow: hidden;
	background-color: var(--brandColor);
	color: var(--absoluteWhite);
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 8rem;
	}
	&__title {
		grid-column: 1/3;
		padding-top: 8rem;
		color: var(--absoluteWhite);
	}
	&__subtitle {
		grid-row: 2/3;
	}
	&__services {
		display: flex;
		grid-column: 1/4;
	}
}

.service {
	text-align: center;
	&__link {
		display: flex;
		flex-wrap: wrap;
		color: var(--absoluteWhite);
		& > * {
			display: block;
			width: 100%;
		}
		& > span {
			margin-top: 2rem;
		}
	}
}

/* - - - - - - - - - - - - - - */
/* - Blockquote - */
/* - - - - - - - - - - - - - - */

.blockquote {
	@apply --pushAuto;
	max-width: 93.4rem;
	text-align: center;
	padding-top: 8rem;
	&__body {
		font-size: var(--bigFont);
		font-weight: 300;
		line-height: 1.74;
	}
	&__footer {
		position: relative;
		margin-top: var(--gutterBig);
		font-size: var(--mediumFont);
		&::before {
			@apply --psuedoCenter;
			top: -var(--gutter);
			width: 17rem;
			height: 0.2rem;
			background-color: var(--brandColor);
		}
	}
	&__client {
		font-weight: 600;
	}
}

/* - - - - - - - - - - - - - - */
/* - Container - */
/* - - - - - - - - - - - - - - */

.container {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 6rem;
	padding-right: 6rem;
	&--narrow {
		max-width: 93.4rem;
	}
}

.padder {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

/* - - - - - - - - - - - - - - */
/* - Footer - */
/* - - - - - - - - - - - - - - */

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2rem;
	padding-top: 8rem;
}

.copyright {
	margin-top: 8rem;
	margin-bottom: 4rem;
	font-size: var(--smallFont);
}

/* - - - - - - - - - - - - - - */
/* - Home Page - */
/* - - - - - - - - - - - - - - */
.logo-wall {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	& > *:not(:first-child) {
		margin-left: 4rem;
	}
}

/* - - - - - - - - - - - - - - */
/* - Work Listing - */
/* - - - - - - - - - - - - - - */
.list--work {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	align-items: end;
	& > li {
		width: 100%;
		&:nth-child(2n) {
			margin-bottom: 2rem;
		}
	}
}
.block {
	& > a {
		display: block;
		color: var(--brandColor);
		transition: var(--animateTransform);
		&:hover {
			transform: translate3d(0, -1rem, 0);
			& .icon {
				color: var(--brandColor);
				transform: translate3d(0, -1rem, 0);
			}
		}
	}
	&__image {
		width: 100%;
		height: 21.8rem;
		margin-bottom: 3rem;
		object-fit: cover;
	}
	&__pre {
		display: inline-block;
		margin-bottom: 1rem;
		font-size: 1.3rem;
		color: color(var(--black) alpha(75%));
	}
	&__title {
		font-weight: 500;
		margin-bottom: 0;
	}
	& .icon {
		color: color(var(--black) alpha(15%));
		transition: var(--animateTransform), var(--animateColor);
	}
	& .flex {
		align-items: center;
		justify-content: space-between;
	}
}

/* - - - - - - - - - - - - - - */
/* - Work Content Type - */
/* - - - - - - - - - - - - - - */

.key-result {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 16rem;
	&:not(:first-of-type) {
		margin-left: 4rem;
	}

	&__primary {
		margin-bottom: 0.6rem;
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: 2.7rem;
		font-weight: 600;
		color: var(--brandColor);
	}

	&__supportive {
		font-size: 1.1rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	&__icon {
		position: absolute;
		z-index: -1;
		width: 16rem;
		height: 16rem;
		& > svg .fill { fill: var(--brandColor) }
		& > svg .stroke {
			fill: none;
			stroke: var(--brandColor);
		}
	}
}

.case {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 4rem;
}

.case__results {
	justify-content: center;
}

.casemeta {
	align-self: end;
	text-align: left;
	&__pre {
		display: inline-block;
		padding-top: 4rem;
		margin-bottom: 0.6rem;
		font-size: 1.3rem;
		border-top: 0.1rem solid var(--brandColor);
		color: color(var(--black) alpha(75%))
	}
	&__title {
		font-weight: 500;
	}
}

.next-case {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

/* - - - - - - - - - - - - - - */
/* - Home - */
/* - - - - - - - - - - - - - - */

.logo-wall {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.feature-case-study {
	padding-top: 8rem;
	padding-bottom: 8rem;
	color: var(--absoluteWhite);
	& .key-result {
		text-align: center;
		&__primary,
		&__supportive {
			color: var(--absoluteWhite);
		}
		&__icon > svg .fill { fill: var(--absoluteWhite) }
		&__icon > svg .stroke {
			fill: none;
			stroke: var(--absoluteWhite);
		}
	}
}

.slide-left {
	max-width: 60rem;
	padding-right: 8rem;
}

.slide-right {
	max-width: 50rem;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.slide__services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	align-items: baseline;
	margin-top: 4rem;
	&__link {
		transition: var(--animateTransform);
		&:hover {
			transform: translate3d(0, -1rem, 0);
			& .text--small {
				transform: translate3d(0, -0.2rem, 0);
			}
		}
	}
}

.grid-50 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4rem;
	align-items: center;
}

/* - - - - - - - - - - - - - - */
/* - Services Listings - */
/* - - - - - - - - - - - - - - */
.wwd {
	&__ul {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	&__li {}
	&__link {
		align-items: baseline;
		& * {
			transition: var(--animateTransform), var(--animateColor);
		}
		&:hover {
			& .wwd__link__icon {
				transform: scale3d(1.3, 1.3, 1.3);
			}
			& .wwd__link__title {
				transform: translate3d(3rem, 0, 0);
			}
			& .wwd__link__intro {
				transform: translate3d(4rem, 0, 0);
			}
			& .wwd__link__arrow {
				transform: scale3d(1.3, 1.3, 1.3) translate3d(-4rem, 0, 0);
				color: var(--brandColor);
			}
		}
	}
	&__link__icon {
		width: 8rem;
		height: 8rem;
		margin-right: 4rem;
		& > img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__link__wrapper {
		max-width: 54rem;
	}
	&__link__title {
		margin-bottom: 0.6rem;
		color: var(--black);
	}
	&__link__intro {
		font-size: var(--bigFont);
		color: color(var(--black) alpha(50%));
	}
	&__link__arrow {
		color: color(var(--black) alpha(50%));
	}
}
