/* - - - - - - - - - - - - - - */
/* - Home - */
/* - - - - - - - - - - - - - - */

.home__featured {
	padding-top: var(--gutterBig);
	padding-bottom: var(--gutterBig);
	color: var(--absoluteWhite);
	&__inner {
		display: flex;
		align-items: center;
	}
	&__info {
		width: 100%;
		text-align: center;
	}
	&__info__inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 4rem;
	}
	&__video {
		width: 100%;
	}
	&__result {
		text-align: center;
	}
	& .key-result {
		&__primary,
		&__supportive {
			color: var(--absoluteWhite);
		}
		&__icon > svg .fill { fill: var(--absoluteWhite) }
		&__icon > svg .stroke {
			fill: none;
			stroke: var(--absoluteWhite);
		}
	}
	& .button {
		margin-top: var(--gutter);
	}
}

.slide-left {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	& > p {
		line-height: 1.74;
	}
}

.slide-right {
	& > img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.slide__services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	align-items: baseline;
	margin-top: var(--gutter);
	&__link {
		transition: var(--animateTransform);
		&:hover {
			transform: translate3d(0, -1rem, 0);
			& .text--small {
				transform: translate3d(0, -0.2rem, 0);
			}
		}
	}
}

.slide-image-holder {
	height: 20rem;
	margin-top: var(--gutter);
	margin-bottom: var(--gutter);
	& > img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.siema {
	margin-top: 1rem;
	&__controls {
		display: flex;
		justify-content: center;
		margin-top: 4rem;
	}
	&__button {
		padding: 1rem 2rem;
		border-radius: 2rem;
		background-color: var(--absoluteWhite);
		border: 0.1rem solid color(var(--offWhite) blackness(+ 10%));
		transition: var(--animateTransform);
		&:hover {
			transform: translate3d(0, -0.4rem, 0);
		}
	}
	&__button ~ &__button {
		margin-left: 2rem;
	}
}

.hom {
	&__picker {
		text-align: center;
	}
	&__picker__title {
		max-width: 68rem;
		margin: auto;
	}
}

@media (--for-phone-only) {
	.home__featured {
		&__info__inner {
			justify-content: space-between;
		}
		& .key-result {
			&__primary {
				font-size: var(--bigFont)
			}
			&__icon {
				width: 14rem;
				height: 14rem;
			}
		}
		& .key-result:not(:first-of-type) {
			margin-left: 0;
		}
	}
}

@media (--for-tablet-landscape-up) {
	.home__featured {
		&__info {
			max-width: 50%;
			margin-right: 4rem;
			margin-bottom: 0;
			text-align: left;
		}
		&__info__inner {
			justify-content: flex-start;
		}
		&__video {
			width: calc(50vw - 4rem);
		}
	}
	.hom {
		&__picker {
			text-align: left;
		}
	}
	.slide-left {
		max-width: 60rem;
		padding-right: var(--gutterBig);
		margin-left: 0;
		margin-right: 0;
	}

	.slide-right {
		max-width: 50rem;
	}
}
