.landing {
	&__logo {
		max-width: 24rem;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__image {
		flex-basis: 100%;
		& > img {
			display: block;
			width: 100%;
			margin: auto;
			object-fit: contain;
		}
	}
	&__form {
		flex-basis: 100%;
		flex-grow: 1;
	}
	&__back {
		display: block;
		margin-top: var(--gutterSmall);
		font-size: var(--smallFont);
	}
}

.dl-button {
	margin-top: var(--gutter);
}

@media (--for-phone-only) {
	.result {
		flex-wrap: wrap;
		&__image {
			margin-bottom: var(--gutter);
		}
	}
	.dl-button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (--for-tablet-portrait-up) {
	.landing__logo {
		max-width: 28rem;
	}
	.result {
		&__form {
			flex-basis: 70%;
			margin-left: 4rem;
		}
		&__image {
			flex-basis: 50%;
		}
	}
}
