/* - - - - - - - - - - - - - - */
/* - Logo Wall - */
/* - - - - - - - - - - - - - - */
.logo-wall {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& > * {
		width: calc(50% - 2rem);
		max-width: 18rem;
		object-fit: scale-down;
	}
}

@media (--for-phone-only) {
	.logo-wall {
		& > *:nth-child(n+3) {
			margin-top: 4rem;
		}
	}
}

@media (--for-tablet-portrait-up) {
	.logo-wall {
		justify-content: space-around;
		& > * {
			width: 20%;
			max-width: none;
		}
		& > *:not(:nth-child(4n+1)) { margin-left: var(--gutter) }
		& > *:nth-child(n+5) { margin-top: var(--gutter) }
	}
}
