/* - - - - - - - - - - - - - - */
/* - Services Listings - */
/* - - - - - - - - - - - - - - */
.wwd {
	&__li {
		&:not(:first-of-type) {
			padding-top: var(--gutterBig);
		}
	}
	&__link {
		align-items: flex-end;
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		& * {
			transition: var(--animateTransform), var(--animateColor);
		}
		&:hover {
			& .wwd__link__icon {
				transform: scale3d(1.3, 1.3, 1.3);
			}
			& .wwd__link__title {
				transform: translate3d(3rem, 0, 0);
			}
			& .wwd__link__intro {
				transform: translate3d(4rem, 0, 0);
			}
			& .wwd__link__arrow {
				transform: scale3d(1.3, 1.3, 1.3) translate3d(-4rem, 0, 0);
				color: var(--brandColor);
			}
		}
	}
	&__link__icon {
		width: var(--gutterBig);
		height: var(--gutterBig);
		margin-right: var(--gutter);
		margin-bottom: 2rem;
		& > img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__link__wrapper {
		max-width: 54rem;
	}
	&__link__title {
		margin-bottom: 0.6rem;
		color: var(--black);
	}
	&__link__intro {
		color: color(var(--black) alpha(50%));
	}
	&__link__arrow {
		color: color(var(--black) alpha(50%));
	}
}

@media (--for-tablet-portrait-up) {
	.wwd {
		&__link {
			align-items: baseline;
		}
		&__link__inner {
			flex-wrap: nowrap;
		}
		&__link__icon {
			margin-bottom: 0;
		}
	}
}


@media (--for-tablet-landscape-up) {
	.wwd {
		&__li {
			&:not(:first-of-type) {
				margin-top: var(--gutterBig);
			}
		}
		&__link__intro {
			font-size: var(--bigFont);
		}
	}
}
