{{ define "header" }}{{ partial "nav" (dict "context" . "scheme" "reverse")}}{{ end }}

{{ define "main" }}

<header class="banner center">
	<h1 class="banner__title banner__title--solo">{{ .Title }}</h1>
</header>

<article>

	<section class="bg--2">
		<ul class="list list--work container padder">
			{{ range .Pages.ByPublishDate }}
				<li class="block">
					<a href="{{ .URL }}">
						<img class="block__image" src="{{ .Params.thumbnail }}" alt="{{ .Title }}"/>
						<div class="flex">
							<div>
								<div class="block__pre">{{ .Params.client }}</div>
								<h4 class="block__title">{{ .Title }}</h4>
							</div>
							<i class="icon icon-arrow"></i>
						</div>
					</a>
				</li>
			{{ end }}
		</ul>
	</section>

</article>

{{end}}
