{{ define "main" }}

<article>
  <header class="abo__mission container padder">
		<div class="content">
      <h2 class="content__subtitle"><span>{{ .Params.mission.title }}</span></h2>
      <div class="abo__mission__body">
        {{ .Params.mission.body | markdownify }}
      </div>
    </div>
    {{ if .Params.mission.video }}
      <div class="video-wrapper gutter--top">
        <iframe width="560" height="315" src="{{ .Params.mission.video }}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    {{ end }}
  </header>
  <section class="abo__story bg--4 padder">
    <div class="abo__story__grid content">
      <h2 class="abo__story__title content__subtitle"><span>{{ .Params.story.title }}</span></h2>
      <div class="abo__story__inner">
        <div class="abo__story__highlight">{{ .Params.story.highlight | markdownify }}</div>
        <div class="abo__story__body">
          {{ .Params.story.body | markdownify }}
        </div>
      </div>
    </div>
  </section>
	<section class="abo__team padder">
    <div class="container">
      <h2 class="abo__team__title content__subtitle"><span>{{ .Params.team.title }}</span></h2>
      <ul class="abo__team__ul">
        {{ range .Params.team.members }}
          <li class="abo__team__li">
            <div class="abo__team__position">{{ .position }}</div>
            <div class="abo__team__member">{{ .name }}</div>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
	<section class="abo__logos padder bg--2">
    <div class="container">
      {{ partial "logo_wall" . }}
    </div>
  </section>
</article>

{{ end }}
