{{ define "header" }}{{ partial "nav" (dict "context" . "scheme" "reverse")}}{{ end }}

{{ define "main" }}

<header class="banner center">
	<h1 class="banner__title banner__title--solo">{{ .Title }}</h1>
	{{ partial "banner_services" (dict "context" . "linkType" "anchor") }}
</header>

<article>
	<section class="bg--2">
		<ul class="list list--high container">
			{{ range .Pages.ByPublishDate }}
				{{ if eq .Params.type "Primary" }}
					<li>
						<a class="flex flex--justify-between" id="{{ .Title | urlize }}" href="{{ .Permalink }}">
							<div class="flex">
								<img src="{{ .Params.icon }}" alt="{{ .Title }}" />
								<div>
									<h2>{{ .Title }}</h2>
									<p>{{ .Params.intro }}</p>
								</div>
							</div>
							{{ partial "arrow.svg" }}
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</section>

</article>

{{end}}
