{{ define "header" }}{{ partial "nav" (dict "context" . "scheme" "reverse")}}{{ end }}

{{ define "main" }}

<header class="banner">
	<div class="container">
		<div class="banner__inner">
			<h1 class="banner__title">{{ .Title }}</h1>
			{{ partial "banner_services" . }}
		</div>
	</div>
</header>

<article>
	<section class="bg--2">
		<ul class="wwd__ul container container--small padder">
			{{ range .Pages.ByPublishDate }}
				{{ if eq .Params.serviceType "Primary" }}
					<li class="wwd__li">
						<a class="wwd__link flex flex--justify-between" id="{{ .Title | urlize }}" href="{{ .Permalink }}">
							<div class="wwd__link__inner">
								<div class="wwd__link__icon">
									<img src="{{ if .Params.icon }}{{ .Params.icon }}{{ else }}/img/service-icon-default.svg{{ end }}" alt="{{ .Title }}" />
								</div>
								<div class="wwd__link__wrapper">
									<h2 class="wwd__link__title">{{ .Title }}</h2>
									<p class="wwd__link__intro">{{ .Params.intro }}</p>
								</div>
							</div>
							<i class="wwd__link__arrow icon icon-arrow"></i>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</section>

</article>

{{end}}
