{{ define "header" }}{{ partial "nav_service" (dict "context" . ) }}{{ end }}

{{ define "main" }}

<article>

	<header class="container center">
		<h1 class="article__title">{{ .Title }}</h1>
		<p class="intro">{{ .Params.intro }}</p>
		{{ if .Params.image }}
			<div class="article__hero"><img src="{{ .Params.image }}" alt="{{ .Title }}" /></div>
		{{ end }}
	</header>

	<section class="bg--2 padder">
		<div class="container content">
			{{ .Content }}
		</div>
	</section>

</article>

{{ end }}
