{{ define "header" }}{{ partial "nav" (dict "context" . "scheme" "reverse") }}{{ end }}

{{ define "main" }}

<header class="banner" role="banner">
	<div class="container">
		<div class="banner__inner">
			<h1 class="banner__title">{{ .Title }}</h1>
			<p class="banner__intro">{{ .Params.subtitle }}</p>
			<!-- INSERT SERVICE LIST HERE -->
			<ul class="banner__services">
			{{ range where .Data.Pages "Section" "services" }}
				<li class="service">
					<a class="service__link" href="{{ .URL }}">
						<img src="{{ .Params.icon }}" alt="{{ .Title }}" />
						<span>{{ .Title }}</span>
					</a>
				</li>
			{{ end }}
			</ul>
		</div>
	</div>
</header>

<section class="container">
	{{ range .Params.testimonial }}
	<blockquote class="blockquote">
		<p class="blockquote__body">{{ .quote }}</p>
		<footer class="blockquote__footer">
			<span class="blockquote__client">{{ .client }}</span>, {{ .position }} at <cite>{{ .company }}</cite>
		</footer>
	</blockquote>
	{{ end }}
</section>

{{ end }}
