{{ define "header" }}{{ partial "nav_landing" (dict "context" .)}}{{ end }}

{{ define "main" }}

<article>
	<header class="article-header padder center">
		<div class="container container--small">
			<h1 class="article__title">{{ .Title }}</h1>
			<p class="content intro">{{ .Params.intro }}</p>
		</div>
	</header>

	{{ if eq .Params.formPosition "belowIntro" }}
		<section class="result container container--small">
			<div class="result__image">
				<img src="{{ .Params.image }}" alt="{{ .Params.cta }}" title="{{ .Params.cta }}" />
			</div>
			{{ partial "landing_page_form" . }}
		</section>
	{{ end }}

	{{ if .Content }}
		<section class="container">
			<div class="content">
				{{ .Content }}
			</div>
			{{ if eq .Params.formPosition "belowContent" }}
				<div class="result container container--small">
					<div class="result__image">
						<img src="{{ .Params.image }}" alt="{{ .Params.cta }}" title="{{ .Params.cta }}" />
					</div>
					{{ partial "landing_page_form" . }}
				</div>
			{{ end }}
		</section>
	{{ end }}
</article>

{{ end }}

{{ define "footer" }}{{ partial "footer_landing" . }}{{ end }}
